Flask
setuptools
requests
requests-toolbelt
requests_oauthlib
python-twitter
python-slugify
Flask-Markdown
python-dateutil
google-cloud-firestore
google-cloud-logging
mock-firestore
werkzeug==2.1.2
Flask-Login
gunicorn
notion-client