{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block nav %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Newsletters</a>
  <div class="dropdown-menu">
    {% for newsletter in newsletters %}
    <a class="dropdown-item" href="/admin/newsletter/{{newsletter.key.urlsafe()}}">{{newsletter.number}} - {{newsletter.title}}</a>
    {% endfor %}
  </div>
</li>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-6">
      <h3>Draft - {{links|length}}</h3>
      {% for link in links %}
          {{ macros.linkcard(link) }}
      {% else %}
      <p>No links found</p>
      {% endfor %}
  </div>
  <div class="col-6">
      <h3>Queued - {{queue|length}}</h3>
      {% for link in queue %}
        {{ macros.linkcard(link) }}
      {% else %}
        <p>No links found</p>
      {% endfor %}          
      <form action="/admin/newsletter/create" method="post">
        <button type="submit" class="btn btn-success">Create Newsletter</button>
      </form>
  </div>
</div>

{% endblock %}
