{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <form method="POST" enctype="multipart/form-data">

    {{macros.input("title", newsletter.title)}}
    {{macros.textarea("intro", newsletter.intro)}}
    {{macros.input("number", newsletter.number)}}
    {{macros.input("sent", newsletter.sent, 'date')}}
    {{macros.input("url", newsletter.url)}}

      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
{% endblock %}
