{% extends "base.html" %}

{% block content %}
<h3>{{action}} link</h3>

{% if link.newsletter %}
{% set newsletter = link.newsletter.get()%}
<p>Seen in <a href="/{{newsletter.slugify()}}">{{newsletter.number}} - {{newsletter.title}}</a></p>
{% endif %}

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">URL</label>
    <input type="text" name="url" id="url" value="{{link.url}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{link.title}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="quote">Quote</label>
    <textarea name="quote" id="quote" class="form-control" rows=5>{{link.quote}}</textarea>
  </div>

  <div class="form-group">
    <label for="comment">Note</label>
    <textarea name="note" id="note" class="form-control" rows=5>{{link.note}}</textarea>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
