{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="row">
  <h3>Links</h3>
  <a href="/admin/link/add" class="btn btn-success btn-sm">
    <i class="glyphicon glyphicon-plus"></i>
    Add link
  </a>
</div>

<div class="row">
  <h3>Newsletters</h3>
</div>
<div class="row">
  <ul class="list-group">
    {% for newsletter in newsletters %}
    <li class="list-group-item">
      <a href="/admin/newsletter/{{newsletter.number}}"><h4>{{newsletter.number}} - {{newsletter.title}}</h4></a>
    </li>
    {% else %}
    <p>No links found</p>
    {% endfor %}
  </ul>
</div>
<div class="row">
  <h3>Queued for next newsletter</h3>
</div>

<div class="row">
  {% for row in queue|batch(3) %}
  <div class="card-group">
    {% for link in row %}
    {{ macros.linkcard(link) }}
    {% endfor %}
  </div>
  {% else %}
    <p>No links found</p>
  {% endfor %}
</div>
<div class="row">
  <form action="/admin/newsletter/create" method="post">
    <button type="submit" class="btn btn-success">Create Newsletter</button>

  </form>
</div>

<div class="row">
  <h3>Draft Links</h3>
</div>
<div class="row">
  {% for row in links|batch(3) %}
  <div class="card-group">
    {% for link in row %}
      {{ macros.linkcard(link) }}
    {% endfor %}
  </div>
  {% else %}
  <p>No links found</p>
  {% endfor %}
</div>

{% endblock %}
