{% macro input(name, value='', type='text') -%}
<div class="form-group">
  <label for="{{name}}">{{name|title}}</label>
  <input type="text" name="{{name}}" id="{{name}}" value="{{value|e}}" class="form-control"/>
</div>
{%- endmacro %}

{%- macro textarea(name, value='', rows=10, cols=40) -%}
<div class="form-group">
  <label for="{{name}}">{{name|title}}</label>
  <textarea name="{{ name }}" id="{{name}}" class="form-control" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
</div>

{%- endmacro %}

{%- macro linkcard(link) -%}
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><a href="{{link.url}}">{{link.title}}</a></h5>
    <h6 class="card-subtitle">{{link.url}}</h6>
    {% if link.quote %}
    <blockquote class="card-text"><em>{{link.quote|truncate(100)|markdown}}</em></blockquote>
    {% endif %}
    {% if link.note %}
    <p class="card-text">{{link.note|truncate(100)|markdown}}</p>
    {% endif %}
  </div>
  <div class="card-footer text-muted">
    <a href="/admin/link/{{link.key.urlsafe()}}/edit" class="card-link">Edit</a>
    {% if link.type == 0 %}<a href="/admin/link/{{link.key.urlsafe()}}/read" class="card-link">Read</a>{%endif%}
    {% if link.type == 1 %}<a href="/admin/link/{{link.key.urlsafe()}}/unread" class="card-link">Unread</a>{%endif%}
    {% if link.type == 1 %}<a href="/admin/link/{{link.key.urlsafe()}}/queue" class="card-link">Queue</a>{%endif%}
    {% if link.type == 2 %}<a href="/admin/link/{{link.key.urlsafe()}}/dequeue" class="card-link">Dequeue</a>{%endif%}
    <a href="/admin/link/{{link.key.urlsafe()}}/delete" class="card-link">Delete</a>
  </div>
</div>
{%- endmacro %}

{%- macro link(link, edit=True) -%}
<div class="card">
  <h5 class="card-title"><a href="{{link.url}}">{{link.title}}</a></h5>
  <h6 class="card-subtitle">{{link.url}}</h6>
  {% if link.quote %}
  <blockquote class="card-text"><em>{{link.quote|markdown}}</em></blockquote>
  {% endif %}
  {% if link.note %}
  <p class="card-text">{{link.note|markdown}}</p>
  {% endif %}
</div>
{% if edit %}
<div class="card-footer text-muted">
  <a href="/admin/link/{{link.key.urlsafe()}}/edit" class="card-link">Edit</a>
</div>
{% endif %}
{%- endmacro %}

{%- macro displaylink(link) -%}
<div class="">
  <h5 class=""><a href="{{link.url}}">{{link.title}}</a></h5>
  <h6 class="">{{link.url}}</h6>
  {% if link.quote %}
  <blockquote class="">{{link.quote|markdown}}</blockquote>
  {% endif %}
  {{link.note|markdown}}
</div>

{%- endmacro %}
