{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block nav %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Newsletters</a>
  <div class="dropdown-menu">
    {% for newsletter in newsletters %}
    <a class="dropdown-item" href="/admin/newsletter/{{newsletter.key.urlsafe()}}">{{newsletter.number}} - {{newsletter.title}}</a>
    {% endfor %}
  </div>
</li>
{% endblock %}
{% block content %}

<div class="row">
  <h3>Reading List</h3>
</div>
<div class="row">
  {% for row in readinglist|batch(3) %}
  <div class="card-group">
    {% for link in row %}
      {{ macros.linkcard(link) }}
    {% endfor %}
  </div>
  {% else %}
  <p>No links found</p>
  {% endfor %}
</div>

{% endblock %}
