{% extends "front/base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="bg-white pt-12 pb-26 px-2 sm:px-8 lg:px-28 rounded-lg">
  <div class="flex w-full justify-center flex-col items-start justify-center">
    <h1 class="font-bold text-4xl mb-4">Cyberweekly</h1>
    <p class="leading-normal text-md mb-4">A weekly roundup of interesting content from across the web that is of interest to people working in cyber security. Generally long form articles and blog posts, as well as links to outages, incidents and security bugs that you might find interesting. Presented with a small amount of editorial comment</p>
    <p class="leading-normal text-md mb-4">Cyberweekly has been going since May 2018, for over 180 issues now</p>
    <p class="leading-normal text-md mb-4">You can <a class="underline" href="/archive">browse the archive</a> or you can subscribe to recieve weekly updates, sent on Sunday evenings to wait in your inbox for Monday morning commute.</p>
    <iframe class="mb-8 align-center w-full" src="https://cyberweekly.substack.com/embed" height="320" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
{% endblock %}
