{% extends "front/base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="main">
  <div class="basis-3/4">
    <h2 class="text-3xl font-bold mb-4">Cyberweekly #{{newsletter.number}} - {{newsletter.title}}</h2>
    <span class="text-sm text-gray-700 mb-4">Published on {{newsletter.sentdate.strftime("%A, %B %d, %Y")}}</span>
    <div class="text-gray-900 font-normal leading-relaxed mb-4">{% if newsletter.body %}{{newsletter.body|markdown}}{% endif %}</div>
    <ol class="divide-y divide-gray-300">
    {% for link in links %}
    {{macros.displaylink(link)}}
    {% else %}
    <p class="text-gray-900 font-normal leading-relaxed px-8">No links found</p>
    {% endfor %}
    </ol>
  </div>
  <div class="basis-1/4">
    {% if newsletters %}
    <h2 class="columnheading">Newsletters</h2>
    <ul>
        {% for newsletter in newsletters %}
        <li><a class="text-gray-900 block py-1 mb-1 underline" href="/{{newsletter.slugify()}}">{{newsletter.number}} - {{newsletter.title}}</a></li>
        {% endfor %}
    </ul>
    {%endif%}
  </div>
</div>
{% endblock %}
