{% extends "base.html" %}
{% import "macros.html" as macros %}


{% block content %}

<div class="grid lg:grid-cols-2 sm:grid-cols-1">
  <div class="p-2">
      <h3 class="columnheading">Draft: {{links|length}}</h3>
      {% for link in links %}
          {{ macros.link(link) }}
      {% else %}
      <p>No links found</p>
      {% endfor %}
  </div>
  <div class="p-2">
      <h3 class="columnheading">Queued: {{queue|length}}</h3>
      <form action="/admin/newsletter/create" method="post" class="card-header mb-4">
        <button type="submit" class="btn-primary">Create Newsletter</button>
      </form>
      {% for link in queue %}
        {{ macros.link(link) }}
      {% else %}
        <p>No links found</p>
      {% endfor %}          
  </div>
</div>

{% endblock %}
