{% extends "base.html" %}
{% import "macros.html" as macros %}


{% block content %}

<div class="row">
  <div class="col-6">
      <h3>Draft - {{links|length}}</h3>
      {% for link in links %}
          {{ macros.link(link) }}
      {% else %}
      <p>No links found</p>
      {% endfor %}
  </div>
  <div class="col-6">
      <h3>Queued - {{queue|length}}</h3>
      {% for link in queue %}
        {{ macros.link(link) }}
      {% else %}
        <p>No links found</p>
      {% endfor %}          
      <form action="/admin/newsletter/create" method="post">
        <button type="submit" class="btn btn-success">Create Newsletter</button>
      </form>
  </div>
</div>

{% endblock %}
