<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cyber Weekly - Your weekly newsletter for cybersecurity matters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {% block head %}{% endblock %}
    </head>
  <body>
    <div class="min-h-full max-w-full">
      <nav class="navbar">
            <div class="navbar-menu">              
              <a href="/" class="navbar-link">Cyber Weekly</a>
              <a href="/archive" class="navbar-link">Archive</a>
              {% if current_user.is_authenticated %}
              <a href="/admin/index" class="navbar-link">Admin</a>
              <a href="/admin/link/add" class="navbar-link">Add Item</a>
              <a href="/admin/readinglist" class="navbar-link">Reading List</a>
              {% endif %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="navbar-user">
                <div class="navbar-link">{{current_user.name}}</div> 
                <img class="h-8 w-8 rounded-full" src="{{current_user.picture}}"/>
                <a class="navbar-link" href="/logout">Logout</a>
              </div>
              {% endif %}
            {% block nav %}{% endblock %}
      </nav>
      <header class="header">
          <h1 class="header">
            {%block header %}
            Dashboard
            {% endblock %}
          </h1>
      </header>
      <main class="main">
          <div class="basis-3/4">
            {% block content %}{% endblock %}
          </div>
          
          <div class="basis-1/4">
          {% if newsletters %}
            <h2 class="columnheading">Newsletters</h2>
            <ul>
                {% for newsletter in newsletters %}
                <li><a class="text-gray-900 block py-1 text-lg" href="/admin/newsletter/{{newsletter.key()}}">{{newsletter.number}} - {{newsletter.title}}</a></li>
                {% endfor %}
            </ul>
          {%endif%}
          </div>
      </main>
    </div>
  </body>
</html>
