{% extends "base.html" %}
{% import "macros.html" as macros %}

{%block header %}
Edit Cyberweekly #{{newsletter.number}} - {{newsletter.title}}
{% endblock %}

{% block content %}
      <form method="POST" enctype="multipart/form-data">

        <div class="form-group mb-6">
          <label for="title" class="">Title</label>
          <input type="text" name="title" id="title" value="{{newsletter.title}}" class=""/>
        </div>
      
        <div class="form-group mb-6">
          <label for="body" class="">Body</label>
          <textarea name="body" id="body" rows=20 class="">{{newsletter.body}}</textarea>
        </div>
      
        <div class="form-group mb-6">
          <label for="number" class="">Number</label>
          <input type=number name="number" id="number" value="{{newsletter.number}}" class=""/>
        </div>

        {% if newsletter.sent %}
        <div class="form-group mb-6">
          <label for="sent" class="">Sent</label>
          <input type="text" name="sent" id="sent" value="{{newsletter.sentdate.date()}}" class=""/>
        </div>
        {% endif %}

        <div class="form-group mb-6">
          <label for="url" class="">URL</label>
          <input type="text" name="url" id="url" value="{{newsletter.url}}" class=""/>
        </div>

      <button type="submit" class="btn-primary">Save</button>
    </form>
{% endblock %}
