{% extends "base.html" %}

{%block header %}
Edit a link
{% endblock %}
{% block content %}
{% if link.newsletter %}
{% set newsletter = link.get_newsletter()%}
<div class="p-4 mb-4 text-sm text-gray-700 bg-yellow-100 rounded-lg" role="alert">
<p>Seen in <a href="/{{newsletter.slugify()}}">{{newsletter.number}} - {{newsletter.title}}</a></p>
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">

  <div class="form-group mb-6">
    <label for="title" class="">URL</label>
    <input type="text" name="url" id="url" value="{{link.url}}" class="form-control "/>
  </div>

  <div class="form-group mb-6">
    <label for="title" class="">Title</label>
    <input type="text" name="title" id="title" value="{{link.title}}" class="form-control "/>
  </div>

  <div class="form-group mb-6">
    <label for="quote" class="">Quote</label>
    <textarea name="quote" id="quote" class="form-control " rows=5>{{link.quote}}</textarea>
  </div>

  <div class="form-group mb-6">
    <label for="comment" class="">Note</label>
    <textarea name="note" id="note" class="form-control " rows=5>{{link.note}}</textarea>
  </div>
  <div class="form-group mb-6">
    <label for="linktype" class="">Status</label>
    <select class="form-control " id="linktype" name="linktype">
      <option value=0 {% if link.type == 0%}selected{%endif%}>To Read</option>
      <option value=1 {% if link.type == 1%}selected{%endif%}>Draft</option>
      <option value=2 {% if link.type == 2%}selected{%endif%}>Queued</option>
      <option value=3 {% if link.type == 3%}selected{%endif%}>Live</option>
      <option value=4 {% if link.type == 4%}selected{%endif%}>Deleted</option>
    </select>
  </div>
  <button type="submit" class="btn-primary">Save</button>
</form>

{% endblock %}
